<form ng-submit="executeAction(formAction)" class="form">
    <div class="f-toolbar">
      <div class="row-fluid" ng-if="formView == 'new'">
        <button type="submit" class="btn">Cadastrar</button>
        <button type="button" class="btn btn-danger" ng-click="window.close()">Cancelar</button>
            <img src="/assets/images/loader1.gif" class="f-loader" ng-show="loaderForm"/>
      </div>
      <div class="row-fluid" ng-if="formView == 'edit'">
        <button type="submit" class="btn">Editar</button>
        <button type="button" class="btn btn-danger" ng-click="window.close()">Cancelar</button>
            <img src="/assets/images/loader1.gif" class="f-loader" ng-show="loaderForm"/>
      </div>
    </div> 
    <div class="f-body">
      <div class='row-fluid'>
        <label>Serviço</label>
        <input type='text' ng-model="dataItem.evento_servico_id" class="span12" kendo-combo-box k-options='comboServico' /> 
      </div> 
      <div class='row-fluid'>
        <label class='checkbox'>
          <input type='checkbox' ng-model="dataItem.publicado" class="span12" /> 
          <span class='metro-checkbox'>Publicado</span>
        </label>
      </div>  
    </div>   
</form>  