<form ng-submit="executeAction(formAction)" class="form">
    <div class="f-toolbar">
      <div class="row-fluid" ng-if="formView == 'new'">
        <button type="submit" class="btn">Cadastrar</button>
        <button type="button" class="btn btn-danger" ng-click="window.close()">Cancelar</button>
            <img src="/assets/images/loader1.gif" class="f-loader" ng-show="loaderForm"/>
      </div>
      <div class="row-fluid" ng-if="formView == 'edit'">
        <button type="submit" class="btn">Editar</button>
        <button type="button" class="btn btn-danger" ng-click="window.close()">Cancelar</button>
            <img src="/assets/images/loader1.gif" class="f-loader" ng-show="loaderForm"/>
      </div>
    </div> 
    <div class="f-body">
       <div kendo-tab-strip>
           <ul>
              <li class="k-state-active">Dados</li>
              <li ng-click="loaderEditorDescricaoAntes()">Desc. Antes</li>
              <li ng-click="loaderEditorDescricaoDepois()">Desc. Depois</li>
              <li>Meta Dados</li>
           </ul>
           <div id="dados">
              <div class="row-fluid">
                <div class="span6">
                  <div class="row-fluid">
                   	<label>Titulo</label>
                    <input type="text" ng-model="dataItem.titulo" class="span12"/>
                  </div>  
                  <div class="row-fluid">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="dataItem.config_global" />
                      <span class="metro-checkbox">Usar Configuração Global</sapn>
                    </label>
                  </div>                
                </div> 
                <div class="span6">
                  <div ng-show="dataItem.config_global == false">
                    <div class="row-fluid">
                      <label>Email Remtente</label>
                      <input type="text" ng-model="dataItem.email_remetente" class="span12"/>
                    </div> 
                    <div class="row-fluid">
                      <label>Nome Remetente</label>
                      <input type="text" ng-model="dataItem.nome_remetente" class="span12"/>
                    </div>
                    <div class="row-fluid">
                      <label>Autenticação</label>
                      <label class="radio inline">
                        <input type="radio" ng-model="dataItem.autenticacao_email" value="1" />
                        <span class="metro-radio">Sim</span>
                      </label>
                        <label class="radio inline">
                        <input type="radio" ng-model="dataItem.autenticacao_email" value="0" />
                        <span class="metro-radio">Não</span>
                      </label>
                    </div><br> 
                    <div class="row-fluid">
                      <label>Usuário</label>
                      <input type="text" ng-model="dataItem.usuario_email" class="span12"/>
                    </div>
                    <div class="row-fluid">
                      <label>Senha</label>
                      <input type="password" ng-model="dataItem.senha_email" class="span12"/>
                    </div>
                    <div class="row-fluid">
                      <label>Servidor</label>
                      <input type="text" ng-model="dataItem.servidor_email" class="span12"/>
                    </div>
                    <div class="row-fluid">
                      <label>Porta</label>
                      <input type="text" ng-model="dataItem.porta_email" class="span12"/>
                    </div>
                  </div>  
                </div> 
              </div>  
            </div>  
            <div id="desc_antes">
                <div class="row-fluid">
                  <div ng-bind-html="ckeditorStatus"></div>
                </div>   
                <textarea ckeditor ng-model="dataItem.descricao_antes" ng-if="editorDescricaoAntes">
                </textarea>
            </div>  
            <div id="desc_depois">
                <div class="row-fluid">
                  <div ng-bind-html="ckeditorStatus"></div>
                </div>   
                <textarea ckeditor ng-model="dataItem.descricao_depois" ng-if="editorDescricaoDepois"></textarea>
            </div> 
            <div id="meta-dados">
              <div class="row-fluid">
                <label>Meta Titulo</label>
                <input type="text" ng-model="dataItem.meta_title" class="span12">
              </div> 
              <div class="row-fluid">
                <label>Meta Palavras Chaves</label>
                <input type="text" ng-model="dataItem.meta_keywords" class="span12">
              </div> 
              <div class="row-fluid">
                <label>Meta Descrilçao</label>
                <textarea type="text" ng-model="dataItem.meta_description" class="span12" rows="7"></textarea>
              </div> 
              <div class="row-fluid">
                <label>Meta Autor</label>
                <input type="text" ng-model="dataItem.meta_author" class="span12">
              </div> 
            </div> 
          </div>
        </div>   
	</div>
</form>  