<div class="page-componenente {{link_parametros.class}}">
	<div class="row-fluid page-componenente-cabecalho" ng-if="link_parametros.mostrar_cabecalho == true">
		<h1>{{link.titulo}}</h1>
		<h2 ng-if="link_parametros.subtitulo.length > 0">{{link_parametros.subtitulo}}</h2>
	</div>	
	<div class="categoria-de-artigo {{categoria_template}}">
		<div class="row-fluid">
			<nav class="search">
				<form>
					<input type="text" ng-model="search.titulo" placeholder="Digite um Título" ng-change='setPage(1)'/>
				</form>	
			</nav>	
		</div>
		<article ng-repeat="a in filtered | startFrom:(currentPage-1)*itemsPerPage | limitTo: itemsPerPage" class='item repeat-move'>
			<div class='body'>
				<h3>{{a.titulo}}</h3>
				<div class='mini-descricao'>
					<div ng-html="a.mini_descricao"></div>
				</div>
				<div class="botao-detalhe">
					<a class="btn" href='{{currentLink}}/{{a.apelido}}'>
						Mais
					</a>	
				</div>	
			</div>		
		</article>
   		<div class="pagination">
            <ul>
              <li ng-class="prevPageDisabled()">
                <a href ng-click="firstPage()">Primeira</a>
              </li>	
              <li ng-class="prevPageDisabled()">
                <a href ng-click="prevPage()">« Prev</a>
              </li>
              <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                  <a href="#">{{n}}</a>
              </li>
              <li ng-class="nextPageDisabled()">
                <a href ng-click="nextPage()">Next »</a>
              </li>
              <li ng-class="nextPageDisabled()">
                <a href ng-click="lastPage()">Última</a>
              </li>	
            </ul>
            <div class='row-fluid'>
            	Total Items: {{filtered.length}}
            </div>	
        </div>
	</div>
</div>	