.unico-contato form input,.unico-contato form textarea{border-width: 1px;width: 50%;-webkit-transition: all 500ms linear;-moz-transition: all 500ms linear;-ms-transition: all 500ms linear;-o-transition: all 500ms linear;transition: all 500ms linear;}
.unico-contato form textarea{height: 200px;}
.unico-contato form input.error,.unico-contato form textarea.error{background: #892226;color:#FFF;}
.unico-contato form textarea:focus,.unico-contato form input:focus{border: 1px solid #263d54;background:#263d54;color:#FFF;}
.unico-contato form button{background: #263d54;font-weight: normal;font-size: 12px;border: none;outline: none;color:#FFF;}


@media only screen and (min-width: 1200px){
}
@media only screen and (min-width: 960px) and (max-width: 1199px){

}
@media (min-width: 768px) and (max-width: 959px){
}
@media (max-width: 767px){
	.unico-contato form input,.unico-contato form textarea{width: 100%;}
}
@media only screen and (min-width: 481px) and (max-width: 767px){

}
@media only screen and (max-width: 480px){
}
@media (max-width: 320px){

}