@media only screen and (min-width: 1200px){
   .v-desktop{display: block !important;}
   .h-desktop{display: none !important;}

   .content-view{margin-left: 200px;}
   .content-menu .content-menu-body{padding-top: 40px;}
}
@media only screen and (min-width: 960px) and (max-width: 1199px){
	.v-desktop{display: block !important;}
	.h-desktop{display: none !important;}

   .content-view{margin-left: 200px;}
   .content-menu .content-menu-body{padding-top: 40px;}
}
@media (min-width: 768px) and (max-width: 959px){
   
   .v-desktop{display: none !important;}
   .h-desktop{display: block !important;}

   h1{font-size: 30px;}
   .content-menu{display: none;position: fixed;margin-top: 30px;}
   .content-view{margin-left:0px;padding-right:10px;}
}
@media (max-width: 767px){

   h1{font-size: 20px;}
	.v-desktop{display: none !important;}
	.h-desktop{display: block !important;}

   .content-menu{display: none;position: fixed;margin-top: 30px;}
   .content-view{margin-left:0px;padding-right:10px;}

   .k-window{width: 95% !important;left: 10px !important;}
   .form input,.form textarea,.form select{width: 100% !important;}
}
@media only screen and (min-width: 481px) and (max-width: 767px){

}
@media only screen and (max-width: 480px){
   h1{font-size:16px;}

   .h-phone{display: none !important;}


}
@media(max-width: 320px){
   .h-phone{display: none !important;}
}